.form--search--journey-submitButton{
  margin-top: calc(var(--spacing) * 5);
  margin-left: calc(var(--spacing));
  border-radius: 100%;
  width: calc(var(--spacing) * 3.5);
  height: calc(var(--spacing) * 3.5);
  font-size: calc(var(--font-size) * 2);
  line-height: calc(var(--spacing) * 3.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
.calculation--container{
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.25);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.form--search--journey-label{
  color:#121212;
  z-index: 0;
  position: relative;
  input{
    color:#121212;
  }
  input::placeholder{
    color:#393939;
  }

}
.form--search--journey-label-content  {
  display: none;
  p{
    color:#121212;

  }
  z-index: 999999;
}

.form--search--journey-label:focus-within .form--search--journey-label-content{
  display: block;
}

.grid{
  display:flex;
  flex-direction: row;
}
