<article class="calculation--container" aria-label="">

  <form #f="ngForm" (ngSubmit)="onSubmitForm(f)" class="form--search--journey">
    <div class="grid">
      <label class="form--search--journey-label" for="suggestions">
        Lieu de départ
        <datalist id="suggestions">
          <option *ngFor="let place of this.placesSuggestions">{{place}}</option>
        </datalist>
        <input (input)="onUserInputArray1($event)"  type="search" autoComplete="on" list="suggestions" />
      </label>

      <label class="form--search--journey-label" for="suggestions2">
        Lieu d'arrivée
        <datalist id="suggestions2">
          <option *ngFor="let place of this.placesSuggestions2">{{place}}</option>
        </datalist>
        <input (input)="onUserInputArray2($event)"  type="search" autoComplete="on" list="suggestions2"  />
      </label>

    </div>
    <button class="form--search--journey-submitButton" type="submit">🔍</button>
  </form>

  <app-map [lat1]="lat1" [lat2]="lat2" [lon1]="lon1" [lon2]="lon2"></app-map>
  <div *ngIf="resultat">
    <hr>
    <p>Resultat : {{ resultat }}</p>
  </div>
</article>
