/* Customization */

.navbar--container {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);

  .navbar--li-appIcon {
    img {
      padding-left: 50px;
    }
  }

}

.leaflet-control-zoom-in span {
  position: absolute;
  top: 0;
  left: 8px;
}

.leaflet-control-zoom-out span {
  position: absolute;
  top: 30px;
  left: 8px;

}
.leaflet-default-icon-path {
  background-image: url(https://unpkg.com/leaflet@1.7.1/dist/images/marker-icon.png);
}
:root {
  --font-size: 1 rm;
  --spacing: 0.5rem;

  h1 {
    --typography-spacing-vertical: 1.5rem;
  }

  form {
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
  }
}


